<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="ContasABida" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contas à Bida</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="relative path to icon" type="image/x-icon">
  </head>
  <body>
    <main>
        <div class=" my-10 h-16 flex items-center justify-center ">
          <p class="bg-red-500 rounded-lg p-10 text-center text-xl">Welcome to Contas à Bida &#8482;</p>
        </div>  
    </main>
  </body>
</html>
