<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="ContasABida" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contas à Bida</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="relative path to icon" type="image/x-icon" />
  </head>
  <body style="margin: 0">
    <div
      style="
        display: flex;
        justify-content: space-evenly;
        background-color: #fff9ca;
        padding: 1rem;
      "
    >
      <div class="wrapper container rounded_l">
        <a class="title">Contas à Bida &#8482;</a>
      </div>
    </div>
    <p style="padding: 0.25rem; margin: 0"></p>
    <div style="height: 64rem; background-color: #fff9ca">
      <img src="static/imagens/uni.jpg" alt="devia estar aqui um unicornio">
    </div>
  </body>
</html>
