<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="ContasABida" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contas à Bida</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <h1>Contas à Bida</h1>
    <h3>Para correr a app, correr:</h3>
    <span onclick="copy(this)" data-copy=" python ./webapp/app.py"> python ./webapp/app.py/span>
  </body>
</html>
